h1
{ position:relative;
	left:450px;
	top:5px;
	text-shadow:3px 5px 5px white;
}

table
{
    position:relative;
	left:300px;
	top:5px;
	color:black;
    font:bold;
	font-size:15px;
	text-shadow:3px 5px 5px white;
}

